@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

.logs {
    /* font-family: 'IBM Plex Mono', monospace;
    background: linear-gradient(
        135deg,
        rgba(10, 10, 10, 0.65),
        rgba(9, 3, 23, 0.7)
    );     */
    background: #1b1e24;
    width: 95%;
    height: 550px;
    /* padding: 1rem; */
    margin-bottom: 2rem;
    color: white;
    border-radius: 15px;
    border: 1px solid rgb(76, 71, 71);
}

.logs-title {
    font-size: 2rem;
    font-weight: 600;
    color: white;
    align-self: self-start;
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.logs-header {
    font-size: 22px;
    font-weight: bold;
    padding: 1rem;
    padding-left: 2rem;
    border-bottom: 1px solid gray;
}

.logs-body {
    font-size: 18px;
    font-weight: 600;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    
}

.logs-text {
    width: 97%;
    overflow: scroll;
    overflow-x: auto;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background-color: #23262F;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}
