.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 19rem;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 0 20px 20px 0;
  border: 1px solid #d1d5db;
  box-shadow: 4px 0 12px rgba(0, 0, 0, 0.1);
  padding: 2.5rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: auto;
  transition: background-color 0.3s, border-color 0.3s;
}

.dark .sidebar {
  background: rgb(26, 31, 49);
  border-color: #4b5563;
}

.sidebar-title {
  font-size: 2.25rem;
  font-weight: bold;
  color: #003092;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.dark .sidebar-title {
  color: #1F68FF;
}

.logo {
  width: 3.3rem;
}

.nav-links {
  margin-left: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  font-size: 1.7rem;
  color: #000000;
  padding: 1.2rem 1.5rem;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.sidebar-link img {
  width: 2.75rem;
  height: 2.75rem;
}

.dark .sidebar-link img {
  filter: brightness(0) invert(1);
}

.sidebar-link:hover {
  background-color: #D1E3FF;
  transform: scale(1.05);
}

.sidebar-link.active {
  background-color: #1F68FF;
  color: #273B4A;
}

.dark .sidebar-link {
  color: #FFFFFF;
}

.dark .sidebar-link:hover {
  background-color: rgba(43, 48, 53, 0.7);
}

.dark .sidebar-link.active {
  background-color: #1F68FF;
  color: white;
}

.dark .sidebar-link.active img {
  /* filter: none; */
}

.sidebar-footer {
  margin-top: auto;
  font-size: 0.875rem;
  color: #666666;
  text-align: center;
}

.dark .sidebar-footer {
  color: #b0b0b0;
}
