.manual-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    animation: fade-in 0.3s ease-in-out;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  
  
  .manual-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #f0f0f0;
    width: 800px;
    height: 600px;
    max-height: 700px;
    border-radius: 30px;
    position: relative;
    border: 1px solid rgba(87, 87, 87, 0.5);
    background-color: #121212;
    z-index: 11;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }
  
  
  
  .manual-agents-actions {
    width: 150px;
    align-self: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: auto;
  }

  .manual-agents-list {
    padding: 1.5rem;
    padding-top: 0;
    overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color: #4f4f4f transparent;
    scrollbar-gutter: stable both-edges;
  }

  .manual-agents-list::-webkit-scrollbar {
    width: 8px;
    margin-left: -4px;
  }
  
  .manual-agents-list::-webkit-scrollbar-thumb {
    background-color: #4f4f4f;
    border-radius: 4px;
    padding: 2px; 
  }
  
  .manual-agents-actions button {
    margin-top: 15px;
    width: 100%;
    background-color: #198754;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 17px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .manual-agents-actions button:hover {
    background-color: #27a864;
  }
  
  .icon-picker {
    position: fixed; 
    max-height: 200px;
    overflow-y: auto;
    background-color: #1c1c1c;
    border: 1px solid #4f4f4f;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column; 
    gap: 10px;
    z-index: 15;
    animation: picker-fade 0.2s ease-in-out; 
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    scrollbar-width: thin; 
    scrollbar-color: #4f4f4f transparent;
  }

  .icon-picker::-webkit-scrollbar {
    width: 8px;
  }
  
  .icon-picker::-webkit-scrollbar-thumb {
    background-color: #4f4f4f;
    border-radius: 4px;
  }
  
  .icon-option {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .icon-option:hover {
    transform: scale(1.2);
  }
  
  @keyframes picker-fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
      
  
.manual-agent-description input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    padding: 0;
    font-size: 18px;
}

.manual-agent-description span {
    width: 100%;
    border: none;
}

