.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 70%;
    margin-left: 90px;
    margin-top: 50px;
}

.dashboard-title {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    text-align: center;
    margin-bottom: 2rem;
}

.agent-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2rem;
    margin-bottom: 3rem;
}

.agent-card {
    display: flex;
    gap: 7%;
    padding: 1.5rem;
    border-radius: 12px;
    width: 390px;
    min-height: 15rem;
    transition:
        transform 0.3s,
        box-shadow 0.3s;
    cursor: pointer;
    border: 1px solid whitesmoke;
    background: linear-gradient(
        135deg,
        rgba(46, 68, 114, 0.65),
        rgba(72, 128, 177, 0.7)
    );
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.agent-card:first-child {
    padding: 1rem;
}

.dark .agent-card {
    background: linear-gradient(
        135deg,
        rgba(10, 10, 10, 0.65),
        rgba(9, 3, 23, 0.7)
    );
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.agent-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.agent-icon {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.agent-icon img {
    width: 150px;
    height: 150px;
    max-width: 200px;
    max-height: 200px;
    /* object-fit: contain; */
    transition: transform 0.3s ease;
}

.agent-icon img:hover {
    transform: scale(1.18);
}

.agent-info {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 95%;
    flex-grow: 1;
}

.agent-info h3 {
    font-weight: bold;
}

.agent-info h4 {
    font-size: 1.4rem;
}

.agent-name {
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
}

.dark .agent-name {
    color: #f0f0f0;
}
