fastapi==0.115.6
GPUtil==1.4.0
GPUtil==1.4.0
langchain==0.3.13
langchain_core==0.3.28
langchain_groq==0.2.2
langchain_ollama==0.2.2
langgraph==0.2.60
pexpect==4.9.0
psutil==6.1.1
psutil==6.1.0
pydantic==2.10.4
PyGithub==2.5.0
PyGithub==2.5.0
redis==5.2.0
selenium==4.27.1
