
.app-container {
  display: flex;
}

.content {
  flex: 1;
  min-height: 100vh;
  margin-left: 18rem; 
  padding: 2rem;
  background: var(--bg-light);
  transition: background 0.3s;
}

.dark .content {
  background: var(--bg-dark);
}

.main-content {
  margin-top: 1.5rem;
}

:root {
  --bg-light: linear-gradient(to bottom right, #eef4ff, #dbe8ff);
  /* --bg-dark: linear-gradient(135deg, #0A0D14, #1B2130); */
  --bg-dark: linear-gradient(60deg, #0a0c11, #101b37);


}
