
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins','Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #eef4ff, #dbe8ff); 
  transition: background 0.3s;
  height: 100%;
}

.dark body, .dark html {
  /* background: rgb(26, 32, 47); */
  background: linear-gradient(rgb(15, 22, 37), rgb(21, 30, 52));
  
  /* background: rgb(15, 22, 37); */
  /* background: linear-gradient(135deg, #0A0D14, #1B2130);  */
  /* background: linear-gradient(60deg, #0b0c1c, #0d081e);  */
  transition: background 0.3s;
}

:root {
  font-size: 16px;
}
