
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins','Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #eef4ff, #dbe8ff); 
  transition: background 0.3s;
  height: 100%;
}

.dark body, .dark html {
  background: linear-gradient(135deg, #0A0D14, #1B2130); 
  transition: background 0.3s;
}

:root {
  font-size: 16px;
}
