.monitoring-container {
    padding: 2rem;
    border-radius: 1rem;
    background: #1b1e24;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(58, 67, 80, 0.5);
    width: 95%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    transition: transform 0.3s ease-in-out;
  }
  
  
  .monitoring-title {
    margin-left: 1rem;
    align-self: baseline;
    font-size: 1.8rem;
    font-weight: 700;
    color: #f3f4f6;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
  
  