.monitoring-container {
    padding: 2rem;
    border-radius: 1rem;
    background: linear-gradient(145deg, #ffffff, #f3f4f6);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1), -5px -5px 15px rgba(255, 255, 255, 0.7);
    width: 95%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    transition: transform 0.3s ease-in-out;
  }
  
  .monitoring-container.dark {
    background: linear-gradient(
        135deg,
        rgba(10, 10, 10, 0.65),
        rgba(9, 3, 23, 0.7)
    );
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(58, 67, 80, 0.5);
  }
  
  .monitoring-title {
    margin-left: 1rem;
    align-self: baseline;
    font-size: 1.8rem;
    font-weight: 700;
    color: #111827;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .monitoring-title.dark {
    color: #f3f4f6;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
  