.message-item {
    display: flex;
}

.message-item.user {
    justify-content: flex-end;
    padding-left: 8em;
    /* padding-right: 1rem; */
}

.message-item.bot {
    justify-content: flex-start;
    width: 90%;
    /* padding-right: 2rem; */
    /* margin-right: 2rem; */
}

.avatar {
    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
}

.avatar img {
    width: 2.5rem;
    height: 2.5rem;
}

.message-text {
    padding: 1rem;
    max-width: 100%;
    white-space: pre-wrap;
    font-size: 1.3rem;
}


.message-item.user .message-text {
    background-color: #ffffff;
    color: #000000;
    border-radius: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #e5e7eb;
}

.dark .message-item.user .message-text {
    background-color: rgba(31, 41, 55, 0.7);
    border-color: #4b5563;
    color: #f0f0f0;
}

.message-item.bot .message-text {
    padding-right: 2rem;
    color: #333333;
}

.dark .message-item.bot .message-text {
    width: 95%;
    color: #f0f0f0;
}

.spacer {
    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0;
    margin-left: 0.5rem;
}



.message-table {
    width: 110%;
    margin: 1rem 0;
    background-color: transparent; 
    border-radius: 7px;
    overflow: hidden;
    border-spacing: 0;
    border-collapse: separate;
}

.message-table-header {
    border: 0.5px solid #b3a0a0;
    background-color: rgb(63, 63, 65);
    padding: 8px;
    text-align: left;
    font-weight: bold;
}

.message-table-cell {
    border: 0.1px solid #b3a0a0;
    padding: 10px;
}

.message-table-row:first-child .message-table-header:first-child {
    border-radius: 10px 0 0 0;  
}
.message-table-row:first-child .message-table-header:last-child {
    border-radius: 0px 10px 0 0;  
}

.message-table-row:last-child .message-table-cell:first-child {
    border-radius: 0 0 0 10px;  
}
.message-table-row:last-child .message-table-cell:last-child {
    border-radius: 0 0 10px 0;  
}



.code-block-container {
    position: relative;
    display: inline-block;
    width: 110%;
}

.copy-button {
    position: absolute;
    top: 25px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.25rem;
    color: #ffffff; 
    font-size: 1rem;
    transition: transform 0.2s;
  }
  
  .copy-button:hover {
    transform: scale(1.1);
  }
  