.message-list {
    position: relative;
    left: 60%;
    transform: translateX(-65%);
    width: calc(100% - 1rem);
    max-width: 72%;
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
    padding-bottom: 6rem;
}

.message-list-inner {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 100%;
}
